@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

/* Värit */
* {
    --color-primary: #086BA8;
    --color-secondary: #0096F5;
    --color-highlights: #AD4900;
    --color-texts: #054065;
    --color-neutral: #FFF9F5;
}


.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

.highlights {
    color: var(--color-highlights);
}

.texts {
    color: var(--color-texts);
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.neutral {
    color: var(--color-neutral)
}

span.bold {
    font-weight: bold;
}

h1 {
    font-size: 56px;
    font-weight: bold;
}

/* Navbar */
.nav-item a{
    color: var(--color-neutral)
}

.nav-item {
    margin: 0px 5px;
}

/* Video */
.video-background { 
    position: relative;
}

.video-background video {
    width: 100%;
}

.caption {
    position: absolute;
    top: 38%;
    width: 100%;
    color: var(--color-neutral);
}

.caption h1{
    color: var(--color-neutral);
    padding-bottom: 100px;
}

/* Info */
.info {
    background-color: var(--color-primary);
    margin: 0px;
}

.col1 {
    padding: 50px 0px;
    margin-left: 100px;
    margin-right: 50px;
}

.col2 {
    padding: 50px 0px;
    margin-left: 50px;
    margin-right: 100px;
}

.kuva img {
    margin-top: 50px;
}

/* Karuselli */
.col3 {
    background-color: var(--color-secondary);
    padding: 6.5px !important;
}

.colText {
    padding: 50px;
}

.col4 {
    padding-right: 0 !important;
}

.KKuva {
    width: 100%;
    height: 100%;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
  }

/* Palvelut */
.palvelut {
    background-color: var(--color-primary);
    padding-bottom: 50px;
}

.POtsikko {
    padding: 20px 0px;
}

.PRivi {
    margin: 0px 40px !important;
}

.col5 {
    background-color: var(--color-neutral);
    margin: 0px 2.5px !important;
    padding: 1rem 0px;
}

.list {
    margin-bottom: 0;
}

/* Responsiivisuus */
@media only screen and (max-width: 870px) {
    .caption{
        margin-top:-100px;
    }
    .btn{
        margin-top:-150px;
    }
  }
  @media only screen and (max-width: 700px) {
      .caption{
          margin-top:-100px; 
      }
    .btn{
        margin-top:-100px;
    }
  }
  section{
      margin-top:5em;
  }