@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

/* Värit */
* {
    --color-primary: #086BA8;
    --color-secondary: #0096F5;
    --color-highlights: #AD4900;
    --color-highlights-hover: #ad3100c9;
    --color-texts: #054065;
    --color-neutral: #FFF9F5;
}

.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

.highlights {
    color: var(--color-highlights);
}

.texts {
    color: var(--color-texts);
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.neutral {
    color: var(--color-neutral);
}

/* Tekstin muodot */

span.bold {
    font-weight: bold;
}

h1 {
    font-size: 56px;
    font-weight: bold !important;
}

h2 {
    font-size: 32px;
    font-weight: bold !important;
}

h3 {
    font-size: 24px;
    font-weight: bold !important;
}

h4 {
    font-size: 18px;
    font-weight: bold !important;
}

p {
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-texts);
}

/* Muut tärkeät */

.blogi{
    margin-bottom:7em !important;
    margin:10px;
    padding:2em;
}

.margintop{
    margin-top:10em;
}

.removeUnderline {
    text-decoration: none;
}

/* Navbar */
.nav-item a {
    color: var(--color-neutral)
}

.nav-item {
    margin: 0px 5px;
}

.nav-link:hover {
    text-decoration: underline !important;
    color: var(--color-highlights) !important;
}

.nav-item .btn {
    background-color: var(--color-highlights);
}

.nav-item .btn a {
    color: var(--color-neutral) !important;
}

.nav-item .btn:hover {
    background-color: var(--color-highlights-hover);
}

/* Video */
.video-background {
    position: relative;
    margin-bottom: -6px;
    margin-top: 76px;
    height: auto;
}

.video-background video {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

.caption {
    position: absolute;
    top: 38%;
    width: 100%;
    color: var(--color-neutral);
    padding: 0px 150px;
}

.caption h1 {
    color: var(--color-neutral);
}

.caption .btn {
    margin-top: 100px;
    width: 200px;
}

.caption .btn {
    color: var(--color-secondary) !important;
    background-color: var(--color-neutral);
    border-color: var(--color-secondary);
    border-width: 3px;
}

.caption .btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-neutral) !important;
}

/* Info */
.info {
    background-color: var(--color-primary);
    margin: 0px;
}

.col1 h3 {
    padding-top: 10px;
}

.col1 {
    padding: 50px 0px;
    margin-left: 100px;
    margin-right: 50px;
}

.col2 {
    padding: 50px 0px;
    margin-left: 50px;
    margin-right: 100px;
}

/* Karuselli */
.col3 {
    background-color: var(--color-secondary);
    padding: 6.5px !important;
}

.colText {
    padding: 50px;
}

.col4 {
    padding-right: 0 !important;
}

.KKuva {
    width: 100%;
    height: 100%;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}

/* Palvelut */
.palvelut {
    background-color: var(--color-primary);
    padding: 0 !important;
    padding-bottom: 1px !important;
}

.POtsikko {
    padding: 20px 0px;
}

.PRivi {
    margin: 0 100px 40px !important;
}

.col5 {
    background-color: var(--color-neutral);
    margin: 0px 2.5px !important;
    padding: 1rem 0px;
}

.list {
    margin-bottom: 0;
}

.accordion-item {
    padding-bottom: 10px;
    background: var(--color-primary) !important;
    border: 0 !important;
}

.accordion-header {
    background: var(--color-primary);
}

.accordion-button {
    color: var(--color-texts) !important;
    background: var(--color-neutral) !important;
    box-shadow: none !important;
    max-width: 500px;
    margin: auto;
}

.accordion-button[aria-expanded="true"] {
    background: var(--color-neutral) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}

.accordion-collapse {
    background: var(--color-neutral) !important;
    max-width: 500px;
    margin: auto;
}

/* Footer */
footer {
    background-color: var(--color-neutral);
    padding: 0px 100px;
}

.FOtsikko {
    padding-top: 50px;
    padding-bottom: 30px;
}

.footerimg {
    background-image: url("./assets/img/logo/Logo\ dark.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--color-neutral);
    height: 3em;
}

ol {
    list-style: none;
    padding: 0px !important;
}

.formi {
    text-align: right;
}

.footerinput {
    width: 20rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px;
}

.formbutton {
    color: var(--color-neutral);
    background-color: black;
    border-radius: 5px;
}

.copyright {
    padding-bottom: 15px;
    padding-top: 30px;
}

.linkNoDec {
    text-decoration: none;
    color: black;
}

.linkNoDec:hover {
    color: black;
}

/* Responsiivisuus */
/* Large */
@media only screen and (max-width: 992px) {

    /* Video */
    .video-background {
        height: 500px;
    }

    .caption {
        padding: 0px 100px;
    }

    .caption .btn {
        margin-top: 100px;
        width: 350px;
    }

    /* Info */
    .col1 {
        margin-left: 50px;
        margin-right: 25px;
    }

    .col2 {
        margin-left: 25px;
        margin-right: 50px;
    }

    /* Karuselli */
    .colText {
        padding: 20px;
    }

    /* Palvelut */
    .PRivi {
        margin: 0 40px 40px !important;
    }

    /* Footer */
    .footerinput {
        width: 15rem;
    }

    footer {
        padding: 0px 50px;
    }
}

/* Medium */
@media only screen and (max-width: 768px) {

    /* Video */
    .caption {
        padding: 0px 50px;
    }

    /* Info */
    .col1 {
        margin-left: 25px;
        margin-right: 10px;
    }

    .col2 {
        margin-left: 10px;
        margin-right: 25px;
    }

    /* Karuselli */
    .colText {
        padding: 10px;
    }

    /* Footer */
    footer {
        padding: 0px 20px;
    }

    /* Palvelut */
    .PRivi {
        display: none !important;
    }
}

/* Small */
@media only screen and (max-width: 576px) {

    /* Navbar */
    .navbar .container-fluid {
        padding: 0 !important;
    }

    /* Video */
    .caption {
        padding: 0px 0px;
    }

    /* Info */
    .info {
        padding: 50px 24px;
    }

    .col1 {
        padding: 0;
        margin: 0;
    }

    .col2 {
        padding: 0;
        margin: 0;
    }

    .IKuva {
        padding: 0;
    }

    .IKuva img {
        min-width: 400px;
    }

    .HRow {
        margin-top: 50px !important;
    }

    /* Footer */
    footer {
        padding: 0;
    }

    .footerimg {
        display: block;
        width: 300px;
        margin: 40px auto;
    }

    .formi {
        text-align: center;
    }

    .footerinput {
        width: 20rem;
    }
}

/* Omat responsiivisuudet */
@media only screen and (max-width: 450px) {

    /* Info */
    .IKuva img {
        min-width: 350px;
    }
}

@media only screen and (min-width: 768px) {
    .accordion {
        display: none !important;
    }
}

section {
    margin-top: 5em;
}